@model List<PruebaMVC.Models.TableViewModel.UserModel>
@{
    ViewBag.Title = "Index";
}

<h2>Usuarios</h2>
<div class="pull-right">
    <button class="btn btn-primary" onclick="document.location.href = '@Url.Content("~/User/Add")'">Nuevo</button>
</div>
<br />
<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered">
            <tr>
                <th>#</th>
                <th>Usuario</th>
                <th>Edad</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.id</th>
                    <th>@item.usuario</th>
                    <th>@item.edad</th>
                </tr>
            }
        </table>
    </div>
</div>

